extends layout
block content
  h1= title

  form(id='fruitjuiceForm', action="/resource/fruitjuice", method="POST")
    div.form-group
        label.fruitjuiceAttr(for='Itemname') fruitjuice Itemname
        input#Itemname(type='text', name='Itemname')
    div.form-group
        label.fruitjuiceAttr(for='Quantity') fruitjuice Quantity
        input#Quantity(type='number', name='Quantity')
    div.form-group
        label.fruitjuiceAttr(for='price') fruitjuice price
        input#price(type='text', name='price')
    input(type="submit")

  script.
    document.forms['fruitjuiceForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
