extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to update
  else
    - let fruitjuiceid = toShow._id
    - let fruitjuiceItemname = toShow.Itemname
    - let fruitjuiceQuantity = toShow.Quantity
    - let fruitjuiceprice = toShow.price
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{fruitjuiceid}
    - let actionid = "/resource/fruitjuice/" + fruitjuiceid
    form(id='fruitjuiceForm', action= actionid, method="PUT")
      div.form-group
          label.fruitjuiceAttr(for='type') fruitjuice Itemname
          input#Itemname(type='text', name='type', value= Itemname )
      div.form-group
          label.fruitjuiceAttr(for='price') fruitjuice Quantity
          input#Quantity(type='number', name='price', value= Quantity )
      div.form-group
          label.fruitjuiceAttr(for='flavor') fruitjuicey price
          input#price(type='text', name='flavor', value= price )
      input(type="submit")

  script.
    document.forms['fruitjuiceForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });